# .envrc
# Use `direnv allow` to load the Nix development environment.
# For best results (especially preserving aliases), install nix-direnv first:
# https://github.com/nix-community/nix-direnv
use flake
